body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  cursor: none;
}

.background-video {
  z-index: 0;
  height: 72vh;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.header-div {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 32vh;
  padding-top: 4vh;
  padding-right: 3.5vw;
  padding-left: 3.5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #ececec;
}

.body {
  background-color: #101010;
  font-family: Vtfsans, sans-serif;
  color: #1e1e26;
}

.text-block {
  width: 70vw;
  margin-left: -0.2vw;
  color: #1e1e26;
  font-size: 4.85vw;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.2vw;
}

.text-block.fade-up.tricks {
  overflow: hidden;
}

.text-block.fade-up3.tricks {
  overflow: hidden;
}

.text-block.fade-up3.tricks {
  overflow: hidden;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.background-video-2 {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -o-object-fit: cover;
  object-fit: cover;
}

.paragraph {
  overflow: hidden;
  width: 24vw;
  margin-bottom: 0px;
  padding-top: 0.5vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 1.35vw;
  line-height: 1.15;
  text-align: right;
  letter-spacing: -0.0675vw;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image {
  display: block;
  overflow: hidden;
  width: 6vw;
}

.hr {
  width: 93vw;
  height: 1px;
  margin-top: 2vh;
  background-color: #1e1e26;
}

.hr.mobile {
  display: none;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 94vw;
  margin-top: -2.5vh;
  margin-left: -0.2vw;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menubar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 93vw;
  height: 6.5vh;
  margin-top: 3.25vh;
  margin-right: 3.5vw;
  margin-left: 3.5vw;
  padding-right: 2vw;
  padding-left: 1.5vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5vw;
  background-color: #ececec;
}

.logo {
  height: 75%;
}

.menu-elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-text {
  margin-right: 2.4vw;
  margin-bottom: 0px;
  padding-top: 0.25vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 1.15vw;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.0625vw;
}

.menu-text.end {
  margin-right: 0vw;
}

.button {
  padding: 1.5vh 2.5vw 1vh;
  border-radius: 50vw;
  background-color: #f38066;
  color: #1e1e26;
  font-size: 1.15vw;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.0625vw;
}

.loading-screen {
  position: absolute;
  z-index: 200;
  display: none;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #101010;
}

.logo-loader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10vw;
  margin-top: -5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hr2 {
  width: 100%;
  height: 1px;
  margin-top: 2vh;
  background-color: #ccc;
}

.donate-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 4.35vh;
  padding-right: 2vw;
  padding-left: 2vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50vw;
  background-color: #f38066;
}

.cta-text {
  margin-right: 2.4vw;
  margin-bottom: 0px;
  padding-top: 0.25vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 1.15vw;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.0625vw;
}

.cta-text.end {
  margin-right: 0vw;
  text-transform: uppercase;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.paragraph2 {
  overflow: hidden;
  width: 24vw;
  margin-bottom: 0px;
  padding-top: 0vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 1.35vw;
  line-height: 1.15;
  text-align: right;
  letter-spacing: -0.0675vw;
}

.cursor-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 20%;
  bottom: 0%;
  z-index: 5000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cursor {
  width: 1.5vw;
}

.menu-icon {
  display: none;
}

.mobile-body {
  display: none;
}

@media screen and (max-width: 991px) {
  .cursor-wrapper {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .header-div {
    overflow: hidden;
    height: 35vh;
    padding-top: 3.2vh;
    padding-right: 4.5vw;
    padding-left: 4.5vw;
  }

  .body {
    height: 100vh;
  }

  .text-block.fade-up.tricks {
    display: none;
    width: 100%;
    font-size: 8vw;
    letter-spacing: -0.32vw;
  }

  .text-block.fade-up.tricks.mobile {
    display: block;
  }

  .text-block.fade-up3.tricks {
    display: none;
    width: 100%;
    font-size: 8vw;
    letter-spacing: -0.32vw;
  }

  .text-block.fade-up3.tricks.mobile {
    display: block;
  }

  .text-block.fade-up3.tricks {
    display: none;
    width: 100%;
    font-size: 8vw;
    letter-spacing: -0.32vw;
  }

  .text-block.fade-up3.tricks.mobile {
    display: block;
  }

  .background-video-2 {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    width: 250vw;
    height: 100vh;
  }

  .paragraph.fade-up2.tricks {
    width: 100%;
    font-size: 3.75vw;
    letter-spacing: -0.15vw;
  }

  .div-block-2 {
    width: 100%;
    margin-top: 3.2vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image {
    width: 14vw;
  }

  .hr {
    display: none;
  }

  .hr.mobile {
    display: block;
    margin-top: 0vh;
  }

  .div-block-3 {
    width: 84.5vw;
    margin-top: -17vh;
    margin-left: 0vw;
  }

  .menubar {
    padding-right: 2vw;
    padding-left: 3vw;
    border-radius: 2.5vw;
  }

  .logo {
    height: 65%;
  }

  .menu-elements {
    display: none;
  }

  .loading-screen {
    display: none;
    overflow: hidden;
  }

  .logo-loader {
    width: 30vw;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .full-logo {
    width: 80%;
    margin-left: 10%;
  }

  .donate-cta {
    width: 5vh;
    height: 5vh;
    padding-right: 3vw;
    padding-left: 3vw;
    border-radius: 2.5vw;
  }

  .cta-text.end {
    display: none;
  }

  .div-block-5 {
    margin-top: 12.95vh;
  }

  .paragraph2.fade-up2.tricks {
    width: 100%;
    font-size: 3.75vw;
    letter-spacing: -0.15vw;
  }

  .cursor-wrapper {
    display: none;
  }

  .menu-icon {
    display: block;
    width: 3.5vw;
    margin-top: -0.25vh;
  }

  .mobile-body {
    display: block;
  }
}

@font-face {
  font-family: 'Helveticanowdisplay';
  src: url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Vtfsans';
  src: url('../fonts/VTFSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}